@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	scrollbar-gutter: auto !important;
}

code {
	border-radius: var(--rounded-box);
}

body {
	@apply font-body;
	overscroll-behavior: none;
}

h1,
h2,
h3 {
	@apply font-heading;
}
